@import '../util/variables';

@mixin holaever-global-styles {

  // These styles are applied to a <meta> tag, which is read by the holaever JavaScript
  .holaever-mq {
    font-family: '#{-zf-bp-serialize($breakpoints)}';
  }

  html {
    font-size: $global-font-size;
    box-sizing: border-box;
  }

  // Set box-sizing globally to handle padding and border widths
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  // Default body styles
  body {
    padding: 0;
    margin: 0;
    font-family: $body-font-family;
    font-weight: $global-weight-normal;
    line-height: $global-lineheight;
    color: $body-font-color;
    background: $body-background;

    @if ($body-antialiased) {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  img {
    // Grid defaults to get images and embeds to work properly
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;

    // Get rid of gap under images by making them display: inline-block; by default
    display: inline-block;
    vertical-align: middle;
  }

  // Make sure textarea takes on height automatically
  textarea {
    height: auto;
    min-height: 50px;
    border-radius: $global-radius;
  }

  // Make select elements are 100% width by default
  select {
    width: 100%;
    border-radius: $global-radius;
  }

  // Styles Google Maps and MapQuest embeds properly
  // scss-lint:disable IdSelector
  #map_canvas,
  .map_canvas,
  .mqa-display {
    img,
    embed,
    object {
      max-width: none !important;
    }
  }

  // Reset <button> styles created by most browsers
  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    padding: 0;
    border: 0;
    border-radius: $global-radius;
    line-height: 1;
  }

  // Internal classes to show/hide elements in JavaScript
  .is-visible {
    display: block !important;
  }

  .is-hidden {
    display: none !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    margin: 0 0 .75rem;
  }

  p {
    margin-bottom: 1.125rem;
    margin-top: 0;
  }

  h1 {
    font-size: 2.95312rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.96875rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.3125rem;
  }

  h6 {
    font-size: 1.125rem;
  }

  a {
    color: #1d8acb;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

  em {
    color: #fd6d5e;
  }

  b,
  strong {
    font-weight: 700;
  }

  hr {
    border: 0;
    border-top: 1px solid #e7e7e7;
    margin: 1rem 0;
  }

  small {
    font-size: 80%;
  }

  mark,
  ins {
    background-color: #ffa;
    padding: .1em .2em;
  }

  q {
    font-style: italic;
  }

  abbr[title] {
    border-bottom: 1px dotted;
  }

  dfn {
    font-style: italic;
  }

  blockquote {
    border-left: 5px solid #e7e7e7;
    padding-left: .75rem;
  }

  code,
  kbd,
  pre,
  samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  code {
    color: #d05;
    font-size: 75%;
    padding: .2rem .4rem;
    background-color: #fafafa;
  }

  pre {
    background-color: #fafafa;
    font-size: 75%;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    padding: .75rem 1rem;
  }
  pre code {
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    padding: 0;
  }

  .ae-alfa {
    font-size: 3.375rem;
  }

  .ae-beta {
    font-size: 2.95312rem;
  }

  .ae-gamma {
    font-size: 2.53125rem;
  }

  .ae-delta {
    font-size: 2.25rem;
  }

  .ae-epsilon {
    font-size: 1.96875rem;
  }

  .ae-zeta {
    font-size: 1.6875rem;
  }

  .ae-eta {
    font-size: 1.5rem;
  }

  .ae-theta {
    font-size: 1.3125rem;
  }

  .ae-iota {
    font-size: 1.125rem;
  }

  .ae-kappa {
    font-size: 1rem;
  }

  .ae-lambda {
    font-size: .875rem;
  }

  .ae-mi {
    font-size: .75rem;
  }

  .ae-ni {
    font-size: .66667rem;
  }

  .ae-u-regular {
    font-weight: 400;
  }

  .ae-u-bold {
    font-weight: 500;
  }

  .ae-u-bolder {
    font-weight: 700;
  }

  .ae-u-boldest {
    font-weight: 900;
  }

  img {
    border: 0;
    height: auto;
    max-width: 100%;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;
  }

  th {
    text-align: left;
    vertical-align: bottom;
  }

  th,
  td {
    line-height: inherit;
    padding: .25rem 1rem;
  }

  td {
    vertical-align: top;
  }
  tfoot td {
    font-style: italic;
  }

  caption {
    color: #e7e7e7;
    font-size: 1rem;
    text-align: left;
  }

  input,
  select,
  optgroup,
  textarea,
  fieldset {
    color: inherit;
    font: inherit;
    font-size: 1rem;
    margin: 0;
  }
  input:disabled,
  select:disabled,
  optgroup:disabled,
  textarea:disabled,
  fieldset:disabled {
    opacity: .65;
    pointer-events: none;
  }

  input[type="text"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="week"] {
    border: .0625rem solid #e7e7e7;
    line-height: 1.5;
    padding: .325rem .75rem;
    vertical-align: middle;
  }

  label {
    padding-bottom: .325rem;
    padding-top: .325rem;
  }

  select {
    border-radius: 0;
    height: 2.275rem;
    text-transform: none;
    vertical-align: middle;
  }
  select[multiple],
  select[size] {
    border: .0625rem solid #e7e7e7;
    height: auto;
    padding: .325rem .75rem;
  }

  fieldset {
    border: .0625rem solid #e7e7e7;
    margin: 0 2px;
    padding: .35em .625em .75em;
  }

  legend {
    border: 0;
    padding: 0;
  }

  textarea {
    border: .0625rem solid #e7e7e7;
    overflow: auto;
    padding: .325rem .75rem;
    vertical-align: top;
  }
}

@include holaever-global-styles();
