extends master

block private-stylesheet
  link(rel='stylesheet', href='css/page/404.css')

block content
  h1= message
  .frame
    div
    div
    div
  canvas#canvas

block private-script
  script(src="js/page/404.js")
